<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
	  <add key="DOM" value="2"/>
	  <add key="NMC" value="3"/>
	  <add key="PER" value="10"/>
	  <add key="C"   value="4"/>
	  <add key="D"   value="2"/>
	  <add key="L"   value="1"/>
	  <add key="LIM" value="3"/>
	  <add key="DELTA" value="3"/>
	  <add key="NCZ"   value="3"/>
  </appSettings>
</configuration>